Flask==2.3.2
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.19
Flask-Login==0.6.2
Flask-WTF==1.1.1
WTForms==3.0.1
wtforms-validators==1.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
sqlalchemy-orm==1.2.10
Jinja==1.2
weasyprint==59.0
uuid6==2023.5.2
requests==2.31.0
flask-security-too
email_validator
flask_restful
redis
celery[redis]
flask-sse
gunicorn
gevent
Flask-Caching
