<!DOCTYPE html>
<html>
<head>
    <title>Add Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <header class="d-flex align-items-center header">
        <div class="user-info">
            <span><a href="{{ url_for('main.adminLogin') }}" style="color: #ffffff;">Welcome, Admin</a></span> <!-- Replace "Admin" with the actual username -->
        </div>
        <div class="logout">
            <a href="{{ url_for('main.logout') }}" style="color: #ffffff;">Logout</a>
        </div>
    </header>
    <div id="app">
        <show :venueid="{{ venue_id }}"></show>
    </div>
    <script src="/static/js/addShow.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
